$dark: #000f08;
$light: #d3dbd8;

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Neucha-Regular";
  src: url("./assets/fonts/Neucha-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("./assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Medium.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}

#app {
  max-width: 100vh;
}

#app,
header,
section,
.wrapper,
.thumbnail-wrapper,
.svg-wrapper,
svg.active,
.detail-wrapper {
  transition: all 0.4s ease-in-out;
}

.light {
  color: $dark;

  header,
  section {
    background-color: #efefef;
  }

  .svg-wrapper {
    background-color: $light;

    svg.active {
      background-color: #efefef;
    }
  }

  .detail-wrapper {
    background-color: rgba(255, 255, 255, 0.66);
  }
}

.dark {
  color: $light;

  header,
  section {
    background-color: #202020;
  }

  svg {
    fill: $light;
  }

  .detail-wrapper {
    img {
      filter: invert(1);
    }
  }

  .card-wrapper {
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.1);
  }

  .svg-wrapper {
    background-color: $dark;

    svg.active {
      background-color: #202020;
    }
  }

  .detail-wrapper {
    background-color: rgba(0, 0, 0, 0.66);
  }
}

header {
  background-color: #efefef;
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  position: sticky;
  top: 0;
  z-index: 1;
}

#header-wrapper {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 1.5em 3px;
  width: 100%;
  margin: 0 auto;

  .svg-wrapper {
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    display: flex;

    svg {
      width: 35px;
      height: 35px;
      padding: 10px;

      &.active {
        border-radius: 5px;
      }
    }
  }

  @media (min-width: 650px) {
    max-width: 650px;
  }

  @media (min-width: 1265px) {
    max-width: 1265px;
  }
}

h1 {
  font-family: "Neucha-Regular";
  font-size: 30px;
  margin: 3px 0 0 12px;
}

section {
  font-family: "Montserrat-Medium";
  height: 100vh;
  left: 0;
  position: fixed;
  top: -100vh;
  width: 100vw;
  z-index: 2;
}

.button-wrapper {
  max-width: 480px;
  margin: 0 auto;
  position: relative;
  top: 57px;
  left: -42px;
}

section img {
  float: right;
  cursor: pointer;
  width: 20px;
  opacity: 0;
}

#information-text {
  padding: 1.25em;
  max-width: 480px;
  margin: 0 auto;
}

h2 {
  font-family: "Neucha-Regular";
}

p {
  line-height: 1.55;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.text-wrapper {
  opacity: 0;
}

.slide-in {
  top: 0;
}

.slide-out {
  top: -100vh;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
  color: $light;
}

.card-wrapper {
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.12);
  margin: 0.5em;
  max-width: 600px;
  transition: box-shadow 0.4s ease-in-out;
  width: 100%;

  &:hover {
    box-shadow: 0 1px 8px 5px rgba(0, 0, 0, 0.3);
  }
}

.detail-wrapper {
  padding: 0.75em;
  font-family: "Montserrat";
  font-weight: 400;

  h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    font-family: "Montserrat";
  }
}

.detail-top {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(151, 151, 151, 0.15);
}

.detail-bottom {
  padding: 13px 0 3px;
  display: flex;
  align-items: center;
}

.setting {
  display: flex;
  align-items: center;
  margin-right: 15px;

  img {
    height: 14.75px;
  }

  .value {
    padding: 0 0 0 5px;
    font-size: 14px;
    opacity: 0.8;
  }
}

.location-wrapper {
  display: flex;
  align-items: center;
  margin-top: 5px;

  img {
    width: 14px;
  }

  h3 {
    font-size: 14px;
    padding-left: 5px;
    opacity: 0.8;
    margin: 0;
  }
}

.thumbnail-wrapper {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vw;
  max-height: 400px;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  justify-content: center;
  margin: 0 auto;
  background-color: $light;
  padding: 1em;
  width: 100vw;
  z-index: 0;
  top: 60px;
  left: 0;
  transition: left 0.4s ease-in-out;

  &.goRight {
    left: 0;
  }

  &.goLeft {
    left: -100vw;
  }
}

[astro="true"] {
  background-color: $dark;
  left: 100vw;

  &.goRight {
    left: 100vw;
  }

  &.goLeft {
    left: 0;
  }
}
